*~
*.swp
pom.xml
*jar
/lib/
# ignore any .svn directory
.svn/
/classes/
.lein-deps-sum
resources/public/cljs/

#/bin
#/lib
#/classes
#/native
#/.lein-failures
#/checkouts
#/.lein-deps-sum
/target/stale/dependencies

